<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828790620316-dugn3uq70qmt5i1jpib9dch5nlau5646.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828790620316-dugn3uq70qmt5i1jpib9dch5nlau5646</string>
	<key>API_KEY</key>
	<string>AIzaSyDM_zBCSvq-3TvtmP8T0GcKtgaH0Mewh2s</string>
	<key>GCM_SENDER_ID</key>
	<string>828790620316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onurbosstan.Mola</string>
	<key>PROJECT_ID</key>
	<string>mola-fb3ff</string>
	<key>STORAGE_BUCKET</key>
	<string>mola-fb3ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828790620316:ios:3ecee3a7bdb7770526ed59</string>
</dict>
</plist>